*{
    margin: 0;
    padding: 0;
}
body{
    background-color:beige ;
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
    font-size:8vmin;
    color:brown;
    background-color: cornsilk;
}
#reset-btn,#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:burlywood;
    color:brown;
    border-radius:1rem;
    border:none;
}
#msg{
    font-size:5vmin;

}
.msg-container{
    height:100vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display:none;
}
.symbol {
  width: 90px;
  height: 90px;
  object-fit: contain;
  pointer-events: none;
}

